.big_button {
    background: $button-color;
    border: none; 
    border-bottom: .6rem solid darken($button_color , 10%);
    border-radius: 30px;
    color: white;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2.4rem;
}
.big_button:disabled {
    opacity: .6;
}
.button {
    background: $button-color;
    border: none; 
    border-bottom: .3rem solid darken($button_color , 10%);
    border-radius: 30px;
    color: white;
    font-weight: 500;
    padding: $s-size;
}
.button--link {
    border: none;
    background: none;
    padding:0 ;
}