.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}

.widget {
    background: $blue2;
    margin-bottom: $xl-size;
}

.widget__message {
    text-align:  center;
    color: $off-white;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($color: $blue2, $amount: 10%);
    border-radius: 30px;
}