//Colors

$off-black: #20222b;
$off-white: #a5afd7;
$button-color: #1772BF;
$blue: #0F2B43;
$blue2: #618397;
$s-size:1.2rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$background-color: #2B999E;
$desktop-breakpoint: 45rem;